/* line 3, ../sass/grids.scss */
.main > .grids {
  float: left;
  width: 100%;
  height: 100%;
  background: teal;
  padding: 0 0 0 180px;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 12, ../sass/grids.scss */
.main > .grids .system {
  float: left;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: .7;
}
/* line 19, ../sass/grids.scss */
.main > .grids .system > div {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
/* line 25, ../sass/grids.scss */
.main > .grids .system > div > .case-tl, .main > .grids .system > div > .case-tr, .main > .grids .system > div > .case-bl, .main > .grids .system > div > .case-br {
  position: absolute;
  width: 50%;
  height: 50%;
  cursor: url(../../basestyle/cursors/cursor.png), auto;
}
/* line 34, ../sass/grids.scss */
.main > .grids .system > div > .case-tl, .main > .grids .system > div > .case-tr {
  top: 0;
}
/* line 37, ../sass/grids.scss */
.main > .grids .system > div > .case-bl, .main > .grids .system > div > .case-br {
  bottom: 0;
}
/* line 40, ../sass/grids.scss */
.main > .grids .system > div > .case-tr, .main > .grids .system > div > .case-br {
  right: 0;
}
/* line 43, ../sass/grids.scss */
.main > .grids .system > div > .case-tl, .main > .grids .system > div > .case-bl {
  left: 0;
}
/* line 46, ../sass/grids.scss */
.main > .grids .system > div > .case-tl {
  background: rgba(0, 0, 0, 0.1);
}
/* line 49, ../sass/grids.scss */
.main > .grids .system > div > .case-tr {
  background: rgba(0, 0, 0, 0.3);
}
/* line 52, ../sass/grids.scss */
.main > .grids .system > div > .case-bl {
  background: rgba(0, 0, 0, 0.5);
}
/* line 55, ../sass/grids.scss */
.main > .grids .system > div > .case-br {
  background: rgba(0, 0, 0, 0.7);
}
