/* line 5, ../sass/grids.scss */
.main > .grids {
  float: left;
  width: 100%;
  height: 100%;
  background: teal;
  padding: 0 0 0 180px;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, ../sass/grids.scss */
.main > .grids .system {
  float: left;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: .7;
}
/* line 21, ../sass/grids.scss */
.main > .grids .system > div {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
/* line 27, ../sass/grids.scss */
.main > .grids .system > div > .case-tl, .main > .grids .system > div > .case-tr, .main > .grids .system > div > .case-bl, .main > .grids .system > div > .case-br {
  position: absolute;
  width: 50%;
  height: 50%;
}
/* line 32, ../sass/grids.scss */
.main > .grids .system > div > .case-tl {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
/* line 38, ../sass/grids.scss */
.main > .grids .system > div > .case-tr {
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
/* line 45, ../sass/grids.scss */
.main > .grids .system > div > .case-bl {
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* line 52, ../sass/grids.scss */
.main > .grids .system > div > .case-br {
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
