@import "compass/css3";
@import "compass/css3/user-interface";
//@import "compass/css3/typography";

.main > .grids {
	float:left;
	width:100%;
	height:100%;
	background:teal;
	padding:0 0 0 180px;
	z-index:0;
	@include box-sizing(border-box);
	
	.system {
		float:left;
		width:100%;
		height:100%;
		background:rgba(white,.7);
		
		>div {
			position:relative;
			float:left;
			width:100%;
			height:100%;
			
			%case {
				position:absolute;
				width:50%;
				height:50%;
			}
			>.case-tl {
				@extend %case;
				top:0;
				left:0;
				background:rgba(#000,.3);
			}
			>.case-tr {
				@extend %case;
				top:0;
				right:0;
				background:rgba(#000,.45);
				
			}
			>.case-bl {
				@extend %case;
				bottom:0;
				left:0;
				background:rgba(#000,.60);
				
			}
			>.case-br {
				@extend %case;
				bottom:0;
				right:0;
				background:rgba(#000,.75);
				
			}
		}
	}
}