/* line 10, ../sass/toolbox.scss */
.main > .toolbox-f, .main > .toolbox-s {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background: #999;
  padding: 0 0 25px 0;
  border-right: 2px solid white;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 23, ../sass/toolbox.scss */
.main > .toolbox-f > .meter, .main > .toolbox-s > .meter, .main > .toolbox-f > .view, .main > .toolbox-s > .view, .main > .toolbox-f > .toggle, .main > .toolbox-s > .toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 26, ../sass/toolbox.scss */
.main > .toolbox-f > .view, .main > .toolbox-s > .view, .main > .toolbox-f > .toggle, .main > .toolbox-s > .toggle {
  width: 100%;
}
/* line 29, ../sass/toolbox.scss */
.main > .toolbox-f > .view, .main > .toolbox-s > .view {
  float: left;
  height: 100%;
  background: transparent;
}
/* line 34, ../sass/toolbox.scss */
.main > .toolbox-f > .view > div, .main > .toolbox-s > .view > div {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 40, ../sass/toolbox.scss */
.main > .toolbox-f > .view > div > .colors, .main > .toolbox-s > .view > div > .colors {
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
/* line 46, ../sass/toolbox.scss */
.main > .toolbox-f > .view > div > .colors .color, .main > .toolbox-s > .view > div > .colors .color {
  float: left;
  width: 25%;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 55, ../sass/toolbox.scss */
.main > .toolbox-f > .toggle, .main > .toolbox-s > .toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  background: rgba(0, 0, 0, 0.04);
  border-top: 2px solid white;
  z-index: 1;
}
