@import "compass/reset";
@import "compass/css3";
@import "compass/layout";

@include font-face("entypo", 
		 font-files("../../fonts/entypo.ttf",
		 			"../../fonts/entypo.eot",
					"../../fonts/entypo.woff",
					"../../fonts/entypo.svg"));

::-webkit-scrollbar, ::-moz-scrollbar {
	display:none;
}

.main {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
	.hide {
		display:none;
	}
	.damp {
		@include box-shadow(inset rgba(#000,.25) 0 0 10px);
	}
}